/* =========================
   TECHNOLOGIES
========================= */

.Technologies-list {
    display: flex;

    flex-wrap: wrap;

    gap: 12px;
}

.Technologies-list span {
    display: inline-flex;

    align-items: center;

    gap: 8px;

    padding:
        8px 14px;

    background:
        var(--card);

    border:
        1px solid var(--border);

    border-radius: 999px;

    color: #c9ced6;

    font-size: 14px;

    font-weight: 500;

    transition: 0.2s;
}

.Technologies-list span:hover {
    color: var(--accent);

    border-color:
        var(--accent);

    transform:
        translateY(-2px);
}

.Technologies-list img {
    width: 20px;
    height: 20px;

    object-fit: contain;
}
